.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

#content {
  display: flex;
  justify-content: center; /* Center children horizontally */
  align-items: center; /* Center children vertically */
  margin: 30px; /* Margin around the entire content area */
  height: calc(100vh - 10%); /* Adjust based on header and footer height */
  /* Ensure that it takes up the remaining space */
  flex: 1; 
}
