header {
    background-color: #5a5a5a;
    height: 5%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  #ubuLogo > img{
    width: 100%;
  }